.msg-left-nav{
  position: fixed;
  padding-top:90px;
  width: 25%;
  height: 100%;
  border-right: 1px solid #cccccc;
  overflow-y: scroll;
}

.msg-person-container{
  display: flex;
  flex-direction: row;
  margin-top:30px;
  width: 100%;
  border-bottom: 0.1rem solid #cccccc;
}

.msg-person-name{
  font-size: 1.3rem;
  margin-left: 10px;
  color:#000;
}

.previous-msg{
  margin-top:30px;
  margin-left:-140px;
}

.msg-person-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.msg-header{
  margin-bottom: 10px;
  text-align: center;
  color:#000;
  width: 90%;
  margin-left: 15px;
}

.msg-right-nav{
   padding-top:90px;
   margin-left: 25%;
   overflow-y: scroll;
   height: 95vh;
}

.box3 {
  margin-bottom: 20px;
  width: 300px;
  margin-left: 50%;
  border-radius: 15px;
  background: #00bfb6;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  font-family: arial;
  position: relative;

}

.sb13:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #00bfb6;
  border-right: 15px solid transparent;
  border-top: 15px solid #00bfb6;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}

.sb14:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #cc0066;
  border-top: 15px solid #cc0066;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}

.answer{
  margin-left: 25px;
  background-color: #cc0066;
}

.not-displayed{
  display: none;
}

.msg-left-close{
   margin-left:50%;
   font-size: 1.5rem;
   margin-top:-80px;
   padding-bottom: 20px;
}

.msg-left-close-btn{
  font-size: 1.6rem;
  color:red;
}

.msg-left-close-btn:hover{
  cursor: pointer;
}

.msg-left-nav-mobile{
  position: absolute;
  padding-top:90px;
  z-index: 400000;
  width: 55%;
  height: 100%;
  border-right: 1px solid #cccccc;
  overflow-y: scroll;
  background-color: #fff;
}

.msg-form{
  height: 60px;
  background-color: #fff;
  z-index: 300;
  position: fixed;
  bottom: 10px;
  width: 75%;
  display: flex;
  flex-direction: row;
}

.msg-input{
  position: relative;
  margin-top:10px !important;
  width: 70%;
  margin-left:90px !important;
  background-color: #fff;
}

.msg-send-btn{
  margin-left:25px;
  margin-top:15px;
  font-size: 2.3rem;
  color:#0000ff;
}

.msg-text{
  color:#fff;
}

.msg-send-btn:hover{
  cursor: pointer;
  color:#00ffff;
}

.msg-texts-container{
  padding-bottom: 30px;
}

.toggle-pers-list{
  padding:10px;
  background-color: blue;
  margin-left:10px;
  border-radius: 10px;
  color:#fff;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 15px 3px #3BC0FF;
  box-shadow: 0px 0px 15px 3px #3BC0FF;
  position: fixed;
  z-index: 20000;
}

.compose-new-message{
  z-index:300000;
  bottom: 10px;
  left:5px;
  position: absolute;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: #00328f;
  -webkit-box-shadow: 0px 0px 12px 1px #15E6FF;
box-shadow: 0px 0px 12px 1px #15E6FF;
}

.compose-new-message:hover{
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 12px 8px #15E6FF;
box-shadow: 0px 0px 12px 8px #15E6FF;
}

.edit-icon{
  color:#fff;
  text-align: center;
  margin-left: 30%;
  margin-top:25%;
}

.new-message-popup{
    z-index: 300000;
    position: absolute;
    border-radius: 10px;
    bottom: 1px;
    left:80px;
    width: 320px;
    height: 320px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 2px #686868;
box-shadow: 0px 0px 5px 2px #686868;
}

.toggle-conv-container-btn{
  margin-top: 20px;
  display:flex;
  width: 100%;
}

.new-message-box-popup-title{
  margin-top:10px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #a3a3a3;
}

.new-message-popup-close{
  margin-top:15px;
 margin-left: 15px;
}

.disabled-send{
  color:#D7E5F0;
}

.disabled-send:hover{
  color:#D7E5F0;
}

.search-msg-person-input{
    background-color: #fff;
    margin-top:10px !important;
    margin-left:35px !important;
    width: 70%;
}

.conversation-selected{
   background-color: #f9c5d1;
   background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);;
}


@media only screen and (max-width:1000px){
  .msg-left-nav{
    display: none;
  }
  .msg-right-nav{
    margin-left: 0px;
  }
  .msg-form{
    width: 100%;
  }
  .msg-input{
    margin-left:10% !important;
  }
  .box3{
    margin-left:40%;
  }
  .answer{
      margin-left: 25px;
  }
}


@media only screen and (max-width:600px){
  .box3{
    margin-left:30%;
  }
  .answer{
      margin-left: 25px;
  }
}
